<main>
  <header>
    <div class="py-[20px] px-[50px]">
      <div class="flex flex-wrap gap-x-4">
        <a
          routerLink="/"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Home
        </a>
        <a
          routerLink="/accordion"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Accordion
        </a>
        <a
          routerLink="/carousel"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Carousel
        </a>
        <a
          routerLink="/collapse"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Collapse
        </a>
        <a
          routerLink="/dropdown"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Dropdown
        </a>
        <a
          routerLink="/input-number"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Input Number
        </a>
        <a
          routerLink="/overlay"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Overlay
        </a>
        <a
          routerLink="/pin-input"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Pin Input
        </a>
        <a
          routerLink="/remove-element"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Remove Element
        </a>
        <a
          routerLink="/scrollspy"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Scrollspy
        </a>
        <a
          routerLink="/select"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Select
        </a>
        <a
          routerLink="/stepper"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Stepper
        </a>
        <a
          routerLink="/strong-password"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Strong Password
        </a>
        <a
          routerLink="/tabs"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Tabs
        </a>
        <a
          routerLink="/toggle-count"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Toggle Count
        </a>
        <a
          routerLink="/toggle-password"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Toggle Password
        </a>
        <a
          routerLink="/tooltip"
          routerLinkActive="text-blue-400"
          ariaCurrentWhenActive="page"
        >
          Tooltip
        </a>
      </div>
    </div>
  </header>

  <div class="pb-[20px] px-[50px]">
    <router-outlet></router-outlet>
  </div>
</main>
